---
import { Image } from "astro:assets";

import Layout from "@layouts/Layout.astro";

import SectionHeader from "@components/SectionHeader.astro";
import Socials from "@components/Socials.astro";
import Project from "@components/Project.astro";
import TechStack from "@components/TechStack.astro";
import SoftSkill from "@components/SoftSkill.astro";

import brady from "../images/brady-2.jpg";
import Icon from "@components/Icon.astro";
import { projects } from "src/data/projects";
---

<Layout>
  <!-- Header -->
  <section>
    <h1
      class="text-dmd md:text-dlg font-extrabold text-center mx-auto text-balance"
    >
      Crafting Beautiful User Experiences with Expert Full Stack Development
    </h1>

    <p
      class="text-lg text-center mt-6 md:text-xl font-light max-w-[768px] md:max-w-[960px] mx-auto text-pretty"
    >
      I have a passion for creating visually appealing and intuitive websites
      and applications. I bring a unique blend of technical expertise and
      creative vision to each project, delivering high-quality results that meet
      and exceed expectations.
    </p>
  </section>

  <!-- About Me -->
  <section class="flex flex-col items-center sm:flex-row" id="about">
    <div class="flex flex-col items-center">
      <div
        class="rounded-full w-[232px] h-[232px] bg-white flex items-center justify-center"
      >
        <Image
          src={brady}
          alt="Brady Blair"
          class="rounded-full max-w-[224px]"
          width="224"
          height="224"
          loading="eager"
          fetchpriority="high"
          densities={[1, 1.5]}
          quality={95}
        />
      </div>

      <Socials />
    </div>

    <article class="mt-12 sm:ml-10 md:ml-20 sm:mt-0">
      <h2 class="text-dsm font-bold">About Me</h2>

      <div class="flex flex-col gap-4 md:gap-8 md:mt-4 md:flex-row text-pretty">
        <p class="mt-4 md:mt-0 md:w-1/2">
          Hello, my name is <b>Brady Blair</b>. I'm an engineer based on the
          east coast with my amazing
          <em
            >(<a
              class="underline hover:text-gray-200 transition-all duration-300 ease-in-out"
              href="https://sarahrose.dev"
              target="_blank"
              rel="noopener noreferrer">and also tech-savvy</a
            >)</em
          > wife, <b>Sarah Rose</b>.

          <br />
          <br />

          After graduating college I followed my passion for engineering and
          technology , which led me to a career in the large format LED screen
          industry. However, in late 2019, I discovered my love for programming
          and have been hooked creating websites and applications ever since.
        </p>

        <p class="mt-4 md:mt-0 md:w-1/2">
          When I'm not coding, I like to spend time with my wife and our cats,
          play video games, and watch competive e-sports (Counter Strike and
          Super Smash Bros. Melee).

          <br /><br />

          I enjoy <b>creating and discovering new things</b>, particularly when
          they involve
          <b>technology and programming</b>. So, let's nerd out and create
          something <b>awesome</b>
          together!
        </p>
      </div>
    </article>
  </section>

  <!-- Projects -->
  <section id="projects">
    <SectionHeader
      title="Featured Projects"
      description="Transforming ideas into tangible sites, solutions, and products, here are some of the projects I am proud to have contributed to."
    />

    <a
      href="/projects"
      class="inline-flex mt-2 gap-1 items-center font-bold hover:underline text-gray-100 transition-all ease-in-out duration-200 bold"
    >
      View all projects
      <div class="w-5 h-5">
        <Icon icon="right-arrow" />
      </div>
    </a>

    <ol class="mt-12">
      {
        projects.map(
          (
            {
              title,
              description,
              imagePath,
              projectLink,
              learnMoreLink,
              projectLinkText,
            },
            index
          ) => {
            if (!imagePath) {
              return null;
            }

            return (
              <Project
                index={index + 1}
                title={title}
                description={description}
                imagePath={imagePath}
                alt={title}
                projectLink={projectLink}
                learnMoreLink={learnMoreLink}
                projectLinkText={projectLinkText}
              />
            );
          }
        )
      }
    </ol>
  </section>

  <!-- Hard Skills -->
  <section id="skills">
    <SectionHeader
      title="Technical Proficiencies"
      description="Keeping up with the fast-paced web development ecosystem, one technology at a time."
    />

    <div class="font-mono mt-12 flex flex-col gap-y-8">
      <TechStack
        stack="Programming, Markup, Style, and Query Languages"
        technologies={[
          "TypeScript",
          "JavaScript",
          "Python",
          "HTML5",
          "CSS3",
          "SQL",
          "C#",
          "Ruby",
          "GraphQL",
          "PHP",
        ]}
      />

      <TechStack
        stack="Frontend & Backend Technologies"
        technologies={[
          "React",
          "Next.js",
          "Nuxt.js",
          "Django",
          "Vue.js",
          "Astro",
          "Vite",
          "Ruby on Rails",
          "Node.js",
          "Express",
          "Tailwind",
          "Sass",
          ".NET",
        ]}
      />

      <TechStack
        stack="Databases, Services, CMS, and APIs"
        technologies={[
          "PostgreSQL",
          "AWS (EC2, ECS, S3, Lambda, EBN, Amplify, etc.)",
          "Azure",
          "Microsoft SQL Server",
          "Supabase",
          "Firebase",
          "RESTful APIs",
          "GraphQL APIs",
          "Storyblok CMS",
          "Stripe",
          "OpenAI",
        ]}
      />

      <TechStack
        stack="Technical and Other Tools"
        technologies={[
          "GitHub",
          "GitLab",
          "Bitbucket",
          "Jira",
          "CI/CD",
          "Git",
          "Netlify",
          "Vercel",
          "Monorepos",
          "PWAs",
          "Docker",
          "Kubernetes",
          "NPM",
          "Webpack",
          "Babel",
          "Testing Frameworks (Jest, Cypress, Testing Library, Vitest)",
        ]}
      />
    </div>
  </section>

  <!-- Soft Skills -->
  <section>
    <SectionHeader
      title="The Finishing Touches"
      description="All of this is encompassed by a love of collaboration and a desire to iterate."
    />

    <div
      class="flex flex-col gap-y-12 mt-12 sm:flex-row sm:gap-x-8 items-center md:gap-y-16"
    >
      <SoftSkill
        title="Communication"
        description="I express technical concepts clearly and concisely, with a passion for documentation."
        icon="message-chat-circle"
      />

      <SoftSkill
        title="Creativity"
        description="I love thinking outside-the-box, to build engaging and user-friendly experiences."
        icon="palette"
      />

      <SoftSkill
        title="Attention to Detail"
        description="I deliver complete work and ensure implementation of the design to specifications."
        icon="glasses"
      />

      <SoftSkill
        title="Problem Solving"
        description="I enjoy the challenge of researching and testing to find an effective solution."
        icon="puzzle-piece"
      />
    </div>
  </section>
</Layout>
